body {
    background-color:whitesmoke;
}

.bold {
    font-weight: bold;
    font-style: normal;
}
.italic {
    font-style: italic;
}
.textmiddle {
    text-align: center;
    font-size: 30px;
}
.contact_info_middle {
    font-size: 16px;
    text-align: center;
}
.content_middle {
    margin:auto;
    max-width: 1000px;
}